.one{
  color:green;
  .two{
    color:blue;
    .three{
      color: pink;
      @at-root .four{
        color:red;
      }
    }
  }
}
// .four를 따로 빼지 않은 이유는 논리적으로 같은 구조에 있을때 
// 반복되는 상속관계 2단계까지만..


// ### @at-root

// `@at-root` 키워드를 사용하면 중첩에서 벗어날 수 있습니다.  중첩에서 벗어나고 싶은 선택자 앞에 `@at-root` 를 작성합니다. 컴파일된 css 코드에서 `@at-root` 를 사용한 선택자가 중첩에서 벗어났음을 확인할 수 있습니다.  중첩된 선택자에게만 사용할 수 있습니다.
