:root{
  --main-color:#FFD6D6;
  --ear-color:#ffefef;
  --face-color: #FFF5EB;
  --line-color:#493c22;
  --hair-color: #8f4b1f;
  --cheek-color: #FFB3B3;
  --ribbon-color:#ff7171;
}

.haileyham{
  width:500px;
  height:600px;
  background: white;
  border-radius: 50%;
  border: 20px solid var(--main-color);
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.face{
  width:266px;
  height:170px;
  background: var(--main-color);
  border: 3px solid var(--line-color);
  border-radius: 0px 0px 70px 70px;
  position: relative;
  margin:150px auto;
}

.face::after{
  content: "";
  position: absolute;
  width:193px;
  height:150px;
  background: var(--face-color);
  border: 3px solid var(--line-color);
  border-radius: 0px 0px 70px 70px;
  left:37px;
  top:18px;
}

.ear{
  width:80px;
  height:201px;
  background: var(--main-color);
  border: 3px solid var(--line-color);
  border-radius: 60px 20px 0px 0px;
  position: absolute;
  top: 59px;
}

.ear::after{
  content:'';
  width:61px;
  height:167px;
  background: var(--ear-color);
  border-radius: 60px 20px 0px 0px;
  position: absolute;
  left:10px;
  top:30px;
}

.ear.ear-left{
  left:150px;
}
.ear.ear-right{
  position: absolute;
  top:59px;
  right: 150px;
  transform:rotateY(180deg);
}


.ribbon{
  background-color: var(--ribbon-color);
  width:70px;
  height:69px;
  border:3px solid var(--line-color);
  border-radius: 20px;
  margin:auto;
  top:220px;
  right:2px;
  position: relative;
  z-index: 4;
}

.ribbon::after, .ribbon::before{
  content:"";
  background-color: var(--ribbon-color);
  width:118px;
  height:120px;
  border:3px solid var(--line-color);
  border-radius: 20px 60px 60px 20px;
  position: absolute;
  display:block;
  /* z-index: -1; */
}

.ribbon::after{
  left:-100px;
  top:-22px;
    z-index: -1;
}

.ribbon::before{
  left:50px;
  top:-22px;
  transform:rotateY(180deg);
    z-index: -1;
}
/* https://codepen.io/team/css-tricks/pen/mVZGKa */

.hair{
  width:39px;
  height:51px;
  border: 3px solid var(--line-color);
  border-radius: 0 0 5px 5px;
  background: var(--hair-color);
  margin:auto;
  position: relative;
  top:200px;
  z-index: 3;
}

.hair::after, .hair::before{
  content: '';
  width:80px;
  height:51px;
  background-color: var(--hair-color);
  border: 3px solid var(--line-color);
  position: absolute;
  margin:auto;
  z-index: 2;
}

.hair::after{
  border-radius: 0 0 0 20px;
  border-width:0 3px 3px 3px;
  left:36px;
}

.hair::before{
  border-radius: 0 0 20px 0;
  border-width:0 3px 3px 3px;
  right:30px;
}

.cheek::after, .cheek::before{
  content:'';
  display:block;
  width:64px;
  height:40px;
  background: var(--cheek-color);
  position: relative;
  z-index: 3;
  border-radius: 50%;
  margin:auto;
  top:70px;
}

.cheek::after{
  right:100px;
}

.cheek::before{
  left:100px;
  top:110px;
}


.eye{
  width:75px;
  height:43px;
  background: white;
  border: 3px solid var(--line-color);
  border-radius: 5px 5px 70px 50px;
  display:inline-block;
  margin:auto;
  position: absolute;
  z-index:7;
  top:75px;
}

.eye-left{
  transform:rotateY(180deg);
  right:141px;
}

.eye-right{
  left:147px;
}

.eye-left::after, .eye-right::after{
  content: '';
  width:53px;
  height:35px;
  background: var(--line-color);
  position: absolute;
  border-radius: 5px 5px 70px 50px;
  left:7px;
}

[class^="star"]{
  width:20px;
  height:20px;
  background: yellow;
  border-radius: 25px 10px 0px 10px;
  position: absolute;
  z-index: 7;
  top:80px;
  transform: rotate(45deg);
}

.star-left{
  left:82px;
}
.star-right{
  right:77px;
}

.mouth{
  width:70px;
  height:14px;
  background: var(--face-color);
  position: relative;
  top:110px;
  left:100px;
  z-index: 6;
}



.mouth-left, .mouth-right{
  width:30px;
  height:37px;
  border: 3px solid var(--line-color);
  position:absolute;
  border-radius: 50%;
  z-index: 4;
  top:-10px;
}

.mouth-right{
  right:0px;
}

.mouth-right::after, .mouth-left::after{
  content: "";
  width:23px;
  height:23px;
  background: white;
  border:3px solid var(--line-color);
  border-radius: 0 70% 30% 70%;
  transform:rotate(225deg);
  position: absolute;
  top:20px;
}